<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- %d(date) 时间 %t(thread)打印线程名 %-5level(le p)左对齐 最小宽度5 %logger logger名最长20 
		%msg 打印的消息 %n 换行 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter> -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{12} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- logback为java中的包 -->
	<!-- <logger name="logback"/> -->
	<!--logback.LogbackDemo：类的全路径 -->
	<!-- <logger name="logback.LogbackDemo" level="INFO" additivity="false"> 
		<appender-ref ref="STDOUT"/> </logger> -->

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>